body{
    background-color:red
}


.introText {
    height: 450px;
    font-family: DM Serif Display, serif;
    background-color: hsl(256, 26%, 20%);
}

.introText h1,
.introText p {
    color: white;
    text-align: center;
}