@import './variablesAndMixins';

@media all and (min-width: 376px){

    #introImages {
        .introImageSmall {
            display: none;
        }
        
        .introImageBig{
            display: block;
            margin: auto;
            width: 100%;
        }    
    }
}