@import "./variablesAndMixins";

@media all and (min-width: 376px) {
  .home {
    &__img--small {
      display: none;
    }

    &__img--big {
      display: block;
      margin: auto;
      width: 100%;
    }
  }
}
