@import './variablesAndMixins';

.introText {
    background-image: 
        url(../images/bg-pattern-intro-left-mobile.svg), 
        url(../images/bg-pattern-intro-right-mobile.svg), 
        url(../images/line.jpeg),
        linear-gradient($primaryColor1 75%, white 25%);
    background-position: left top, right bottom, center bottom;
    background-repeat: no-repeat;
    background-size: auto, auto, 125px;
    height: 100vh;

    h1,
    p,
    div {
        color: $primaryColor3;
        text-align: center;
    }

    h1 {
        font-family: $font2;
        font-size: 40px;
        padding-top: 20%;
        padding-bottom: 5%;
    }

    p {
        font-family: $font2;
        line-height: 1.3;
        padding: 2% 8%;
    }

    div{
        @include btn();
        margin-top: 8%;
        a{
            cursor: pointer;
        }
    }
    img{//line
        display: block;
        width: 150px;
        margin: auto;
        margin-bottom: 5%;
        
    }
};

.mainContent {
    margin-top: 7%;
    height: 100vh;
    
    h1{
        color: $neutralColor1;
        font-size: 40px;
        font-family: $font2;
        text-align: center;
    }

}
        
.snappyProcess,
.affordablePrices,
.peopleFirst  {
    @include weAreDifferentIcons;
}
