@import "./variablesAndMixins";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 18px;
  font-family: $font1;
  overflow-x: hidden;
}

#header__navList {
  position: relative;
  color: $neutralColor3;
  list-style-type: none;
  min-height: 90vh;
  background-color: $neutralColor1;
  background-image: url("../images/bg-pattern-mobile-nav.svg");
  background-repeat: no-repeat;
  background-position: right bottom;
  padding-top: 10%;
}
