@media all and (min-width: 370px) {
  body {
    font-size: 18px;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 18px;
  font-family: Karla;
}

.logo {
  padding: 2rem;
}

#navBar {
  position: relative;
  color: #fafafa;
  list-style-type: none;
  min-height: 90vh;
  background-color: #2b272f;
  background-image: url("../images/bg-pattern-mobile-nav.svg");
  background-repeat: no-repeat;
  background-position: right bottom;
  padding-top: 10%;
}

#navBar li {
  font-size: 1.5rem;
  display: block;
  text-align: center;
  margin: 8%;
  cursor: pointer;
}

#navBar > :last-child {
  padding: 8px;
  width: 60%;
  margin: auto;
  border: 2px solid #fafafa;
}

.navBarHide {
  display: none;
}

.navBarShow {
  display: block;
}

.barIcon {
  display: block;
  position: absolute;
  padding: 1.5rem;
  right: 2%;
  top: 0;
}

.barIcon a:hover {
  background-color: #837d87;
}

.introImages {
  background-color: #2d2640;
}

.introImageSmall {
  display: block;
  margin: auto;
}

.introImageBig {
  display: none;
}

@media all and (min-width: 500px) {
  .introImageSmall {
    display: none;
  }
  .introImageBig {
    display: block;
    margin: auto;
  }
}

.introText {
  background-image: url(../images/bg-pattern-intro-left-mobile.svg), url(../images/bg-pattern-intro-right-mobile.svg), url(../images/line.jpeg), -webkit-gradient(linear, left top, left bottom, color-stop(80%, #2d2640), color-stop(20%, white));
  background-image: url(../images/bg-pattern-intro-left-mobile.svg), url(../images/bg-pattern-intro-right-mobile.svg), url(../images/line.jpeg), linear-gradient(#2d2640 80%, white 20%);
  background-position: left top, right bottom, center bottom;
  background-repeat: no-repeat;
  background-size: auto, auto, 125px;
  height: 80vh;
}

.introText h1,
.introText p,
.introText div {
  color: #fafafa;
  text-align: center;
}

.introText h1 {
  font-family: DM Serif Display, serif;
  font-size: 2.5rem;
  padding-top: 20%;
  padding-bottom: 5%;
}

.introText p {
  font-family: DM Serif Display, serif;
  line-height: 1.3;
  padding: 2% 8%;
}

.introText div {
  padding: 8px;
  width: 45%;
  margin: 0 auto;
  border: 2px solid #fafafa;
  color: #fafafa;
  text-align: center;
  margin-top: 8%;
}

.introText div a {
  cursor: pointer;
}

.mainContent {
  margin-top: 7%;
  min-height: 100vh;
}

.mainContent h1 {
  color: #2b272f;
  font-size: 2.5rem;
  font-family: DM Serif Display, serif;
  text-align: center;
}

.snappyProcess img,
.affordablePrices img,
.peopleFirst img {
  display: block;
  margin: 60px auto 40px auto;
}

.snappyProcess h2,
.affordablePrices h2,
.peopleFirst h2 {
  color: #2b272f;
  font-family: DM Serif Display, serif;
  text-align: center;
}

.snappyProcess p,
.affordablePrices p,
.peopleFirst p {
  color: #837d87;
  text-align: center;
  padding: 2rem 5% 0 5%;
  line-height: 1.6;
}

.howWeWork {
  background-color: #2d2640;
  background-image: url(../images/bg-pattern-how-we-work-mobile.svg);
  background-repeat: no-repeat;
  background-position: right top;
  width: 85%;
  min-height: 350px;
  margin: 8rem auto;
  padding: 4rem 0;
}

.howWeWork h1 {
  color: #fafafa;
  font-size: 2.3rem;
  font-family: DM Serif Display, serif;
  text-align: center;
}

.howWeWork div {
  padding: 8px;
  width: 45%;
  margin: 0 auto;
  border: 2px solid #fafafa;
  color: #fafafa;
  text-align: center;
  margin-top: 8%;
  width: 60%;
}

.howWeWork div a {
  cursor: pointer;
}

.footerIcons {
  height: 30vh;
  background-image: url(../images/bg-pattern-footer-mobile.svg), url(../images/line2.png);
  background-position: left top, center bottom;
  background-repeat: no-repeat;
  background-size: auto, 90%;
}

.footerIcons .logo {
  display: block;
  margin: auto;
  padding: 5rem 5rem 1rem 5rem;
}

.footerIcons ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto auto;
      grid-template-columns: auto auto auto auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footerIcons li {
  list-style: none;
  padding: 0.5rem;
}

.footerItems {
  text-align: center;
  margin-top: 10%;
}

.footerItems h4 {
  padding: 1.2rem;
  color: #837d87;
}

.footerItems p {
  color: #2b272f;
  font-weight: 700;
  padding: 0.5rem;
}

.attribution {
  margin-top: 50px;
  text-align: center;
  font-size: 0.7rem;
}
/*# sourceMappingURL=style.css.map */