* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 18px;
  font-family: Karla;
  overflow-x: hidden;
}

#header__navList {
  position: relative;
  color: #fafafa;
  list-style-type: none;
  min-height: 90vh;
  background-color: #2b272f;
  background-image: url("../images/bg-pattern-mobile-nav.svg");
  background-repeat: no-repeat;
  background-position: right bottom;
  padding-top: 10%;
}

.header__logo {
  padding: 2rem;
}

.header__navList--hide {
  display: none;
}

.header__navList--hide > :last-child {
  padding: 8px;
  width: 60%;
  margin: auto;
  border: 2px solid #fafafa;
}

.header__navList--show {
  display: block;
}

.header__navList--show > :last-child {
  padding: 8px;
  width: 60%;
  margin: auto;
  border: 2px solid #fafafa;
}

.header__item {
  font-size: 1.5rem;
  display: block;
  text-align: center;
  margin: 8%;
  cursor: pointer;
}

.header__navIcons {
  display: block;
  position: absolute;
  padding: 1.5rem;
  right: 0px;
  top: 0px;
  cursor: pointer;
}

.home__img--small {
  display: block;
  margin: auto;
}

.home__img--big {
  display: none;
}

.home__pattern1, .home__pattern2 {
  display: none;
}

.home__line1 {
  display: none;
}

.home__introText {
  background-image: url(../images/bg-pattern-intro-left-mobile.svg), url(../images/bg-pattern-intro-right-mobile.svg), url(../images/line.jpeg), -webkit-gradient(linear, left top, left bottom, color-stop(85%, #2d2640), color-stop(20%, white));
  background-image: url(../images/bg-pattern-intro-left-mobile.svg), url(../images/bg-pattern-intro-right-mobile.svg), url(../images/line.jpeg), linear-gradient(#2d2640 85%, white 20%);
  background-position: left top, right bottom, center bottom;
  background-repeat: no-repeat;
  background-size: auto, auto, 125px;
  height: 90vh;
}

.home__introText h1,
.home__introText p,
.home__introText div {
  color: #fafafa;
  text-align: center;
}

.home__introText h1 {
  font-family: DM Serif Display, serif;
  font-size: 2.5rem;
  padding-top: 20%;
  padding-bottom: 5%;
}

.home__introText p {
  font-family: DM Serif Display, serif;
  line-height: 1.3;
  padding: 2% 8%;
}

.home__introText div {
  padding: 9px;
  width: 45%;
  margin: 0 auto;
  border: 2px solid #fafafa;
  color: #fafafa;
  text-align: center;
  margin-top: 8%;
  cursor: pointer;
}

.weAreDifferent {
  margin-top: 7%;
  min-height: 100vh;
}

.weAreDifferent__line2 {
  display: none;
}

.weAreDifferent__title {
  color: #2b272f;
  font-size: 2.5rem;
  font-family: DM Serif Display, serif;
  text-align: center;
}

.weAreDifferent__items--snappyProcess img, .weAreDifferent__items--affordablePrices img, .weAreDifferent__items--peopleFirst img {
  display: block;
  margin: 60px auto 40px auto;
}

.weAreDifferent__items--snappyProcess h2, .weAreDifferent__items--affordablePrices h2, .weAreDifferent__items--peopleFirst h2 {
  color: #2b272f;
  font-family: DM Serif Display, serif;
  text-align: center;
}

.weAreDifferent__items--snappyProcess p, .weAreDifferent__items--affordablePrices p, .weAreDifferent__items--peopleFirst p {
  color: #837d87;
  text-align: center;
  padding: 2rem 5% 0 5%;
  line-height: 1.6;
}

.howWeWork {
  background-color: #2d2640;
  background-image: url(../images/bg-pattern-how-we-work-mobile.svg);
  background-repeat: no-repeat;
  background-position: right top;
  width: 85%;
  height: 350px;
  margin: 8rem auto;
  padding: 4rem 0;
}

.howWeWork__img {
  display: none;
}

.howWeWork__txt {
  color: #fafafa;
  font-size: 2.3rem;
  font-family: DM Serif Display, serif;
  text-align: center;
}

.howWeWork__button {
  padding: 9px;
  width: 45%;
  margin: 0 auto;
  border: 2px solid #fafafa;
  color: #fafafa;
  text-align: center;
  margin-top: 8%;
  cursor: pointer;
  width: 60%;
}

.footer__top {
  height: 30vh;
  background-image: url(../images/bg-pattern-footer-mobile.svg), url(../images/line2.png);
  background-position: left top, center bottom;
  background-repeat: no-repeat;
  background-size: auto, 90%;
}

.footer__top--logo {
  display: block;
  margin: auto;
  padding: 5rem 5rem 1rem 5rem;
}

.footer__top--socialList {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto auto;
      grid-template-columns: auto auto auto auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__top--socialList li {
  list-style: none;
  padding: 0.5rem;
}

.footer__line3 {
  display: none;
}

.footer__gridItems {
  text-align: center;
  margin-top: 10%;
}

.footer__gridItems h4 {
  padding: 1.2rem;
  color: #837d87;
}

.footer__gridItems p {
  color: #2b272f;
  font-weight: 700;
  padding: 0.5rem;
}

.footer__gridItems a {
  cursor: pointer;
}

.footer__gridItems a:hover {
  text-decoration: underline;
}

.attribution {
  background-color: #fafafa;
  text-align: center;
  font-size: 0.8rem;
}

@media all and (min-width: 376px) {
  .home__img--small {
    display: none;
  }
  .home__img--big {
    display: block;
    margin: auto;
    width: 100%;
  }
}

@media all and (min-width: 834px) {
  #header__navList {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    position: absolute;
    right: 6rem;
    min-height: 0;
    background-color: inherit;
    background-image: none;
    padding-top: 1rem;
    padding-right: 0.5rem;
  }
  .header {
    position: absolute;
    width: 100vw;
    background-color: white;
    z-index: 999;
  }
  .header__logo {
    padding: 1.7rem 6rem 1.7rem 2.5rem;
    min-width: 23%;
  }
  .header__navList--hide > :last-child, .header__navList--show > :last-child {
    padding: 1.5% 6%;
    color: #2b272f;
    border: 2px solid #2b272f;
    background-color: #fafafa;
  }
  .header__navList--hide > :last-child:hover, .header__navList--show > :last-child:hover {
    background-color: #2b272f;
    color: #fafafa;
  }
  .header__item {
    margin: auto;
    white-space: nowrap;
    color: #837d87;
    font-size: 1rem;
    padding: 0 2rem;
  }
  .header__item:hover {
    color: #2b272f;
  }
  .header__navIcons {
    display: none;
  }
  .header .home {
    position: relative;
    height: 65vh;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(80%, #2d2640), color-stop(20%, white));
    background-image: linear-gradient(#2d2640 80%, white 20%);
  }
  .header .home__img {
    position: absolute;
    height: inherit;
    width: 100vw;
  }
  .header .home__img--small {
    position: absolute;
    background-color: none;
    display: block;
    right: 5%;
    top: 10rem;
  }
  .header .home__img--big {
    display: none;
  }
  .header .home__pattern1 {
    position: absolute;
    display: inherit;
    left: -40px;
    bottom: -150px;
  }
  .header .home__pattern2 {
    display: initial;
    position: absolute;
    right: -150px;
    top: 0;
  }
  .header .home__line1 {
    display: block;
    position: absolute;
    width: 100px;
  }
  .header .home__introText {
    position: absolute;
    height: inherit;
    background-image: none;
    width: 50%;
    padding: 10rem 5% 0 8%;
  }
  .header .home__introText h1,
  .header .home__introText p,
  .header .home__introText div {
    color: #fafafa;
  }
  .header .home__introText h1 {
    font-family: DM Serif Display, serif;
    font-size: 2.5rem;
    padding-top: 15%;
    padding-bottom: 5%;
    text-align: left;
  }
  .header .home__introText p {
    font-family: Karla;
    line-height: 1.5;
    font-size: 0.9rem;
    padding: 2% 0;
    text-align: left;
  }
  .header .home__introText div {
    margin: 0;
    margin-top: 25px;
  }
  .header .home__introText div:hover {
    background-color: #fafafa;
    color: #2d2640;
  }
  .weAreDifferent {
    padding-top: 0;
    min-height: 50vh;
    padding-left: 8%;
  }
  .weAreDifferent__line2 {
    position: absolute;
    display: block;
    width: 100px;
  }
  .weAreDifferent__title {
    padding: 5% 0;
    text-align: left;
  }
  .weAreDifferent__items {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto auto;
        grid-template-columns: auto auto auto;
  }
  .weAreDifferent__items--snappyProcess img, .weAreDifferent__items--affordablePrices img, .weAreDifferent__items--peopleFirst img {
    margin: 0;
    padding-bottom: 10%;
  }
  .weAreDifferent__items--snappyProcess h2, .weAreDifferent__items--affordablePrices h2, .weAreDifferent__items--peopleFirst h2 {
    text-align: left;
    padding-bottom: 4%;
  }
  .weAreDifferent__items--snappyProcess p, .weAreDifferent__items--affordablePrices p, .weAreDifferent__items--peopleFirst p {
    text-align: left;
    padding: 0;
    padding-right: 10%;
    font-size: 0.9rem;
  }
  .howWeWork {
    position: relative;
    background-image: none;
    width: 80%;
    margin: auto;
    height: 250px;
    padding: 0;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 78% 22%;
        grid-template-columns: 78% 22%;
  }
  .howWeWork__img {
    display: block;
    position: absolute;
    right: 0;
  }
  .howWeWork__txt {
    font-size: 2.2rem;
    text-align: left;
    padding: 15%;
  }
  .howWeWork__button {
    white-space: nowrap;
    margin: auto 0;
    font-size: 0.9rem;
    width: 90%;
    z-index: 999;
  }
  .howWeWork__button:hover {
    background-color: #fafafa;
    color: #2d2640;
  }
  .footer {
    height: 40vh;
    margin-top: 200px;
    background-color: #fafafa;
    background-image: url(../images/bg-pattern-footer-desktop.svg);
    background-position: left top;
    background-repeat: no-repeat;
    background-size: auto;
  }
  .footer__top {
    background-image: none;
    height: 30%;
  }
  .footer__top--logo {
    display: inline-block;
    margin-left: 10%;
    margin-top: 5%;
    padding: 0;
  }
  .footer__top--socialList {
    float: right;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto auto auto;
        grid-template-columns: auto auto auto auto;
    margin-right: 10%;
    margin-top: 5%;
  }
  .footer__line3 {
    margin: auto;
    display: block;
    width: 80%;
  }
  .footer__grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto auto auto;
        grid-template-columns: auto auto auto auto;
    margin-left: 10%;
  }
  .footer__gridItems {
    text-align: left;
  }
  .footer__gridItems h4 {
    padding: 1.2rem 0;
  }
  .footer__gridItems p {
    padding: 0.5rem 0;
  }
  .attribution {
    font-size: 1rem;
  }
}

@media all and (min-width: 1280px) {
  #header__navList {
    padding-right: 3rem;
  }
  __navList--hide > :last-child,
  __navList--show > :last-child {
    padding: 1.5% 6%;
    color: #2b272f;
    border: 2px solid #fafafa;
    background-color: #fafafa;
  }
  .home {
    height: 110vh;
    max-height: 900px;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(85%, #2d2640), color-stop(15%, white));
    background-image: linear-gradient(#2d2640 85%, white 15%);
  }
  .home__img--small {
    display: none;
  }
  .home__img--big {
    position: absolute;
    background-color: none;
    display: block;
    right: 10%;
    top: 10rem;
    width: 540px;
  }
  .home__pattern1 {
    position: absolute;
    display: inherit;
    left: 0;
    bottom: -120px;
  }
  .home__pattern2 {
    display: initial;
    position: absolute;
    right: -150px;
    top: 0;
  }
  .home__line1 {
    display: block;
    position: absolute;
    width: 100px;
  }
  .home__introText {
    height: 110vh;
    position: absolute;
    height: inherit;
    background-image: none;
    width: 50%;
    padding: 10rem 5% 0 10%;
  }
  .home__introText h1,
  .home__introText p,
  .home__introText div {
    color: #fafafa;
  }
  .home__introText h1 {
    font-family: DM Serif Display, serif;
    font-size: 2.5rem;
    padding-top: 15%;
    padding-bottom: 5%;
    text-align: left;
  }
  .home__introText p {
    font-family: Karla;
    line-height: 1.5;
    font-size: 0.9rem;
    padding: 2% 0;
    text-align: left;
  }
  .home__introText div {
    margin: 0;
    margin-top: 25px;
  }
  .home__introText div:hover {
    background-color: #fafafa;
    color: #2d2640;
  }
  .weAreDifferent {
    padding-top: 10%;
    min-height: 100vh;
    padding-left: 10%;
  }
  .howWeWork__txt {
    font-size: 3rem;
    padding: 8% 20% 8% 10%;
  }
  .howWeWork__button {
    width: 70%;
    padding: 9px;
  }
  .footer {
    height: 60vh;
  }
  .footer__top {
    height: 25%;
  }
  .footer__grid {
    margin: auto;
    width: 80%;
  }
}
/*# sourceMappingURL=style.css.map */